@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}


@theme {
  --color-sidebar: #1b212b;

  --color-brand: #68AB0B;

  --color-page: #f3f4f6;
  --color-border: #e5e7eb;

  --color-link: #209fb8;
}